<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add_product</title>
</head>

<body>
<div class="add">
    <div class="container_form">
        <h4>ADD Product</h4>
        <form action="/store/add" method="POST">
            <div> product Id</div>
            <input type="text" placeholder="product Id" name="id"><br>
            <div>Product name</div>
            <input type="text" placeholder="Your product name" name="title"><br>
            <div>Cost</div>
            <input type="text" placeholder="Your product cost" name="cost"><br>
            <br>
            <button class="button_push" type="submit">SUBMIT</button>
        </form>
    </div>
</div>
</body>

</html>